body {
  font-size: 12px;
}
.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}
#main-content{
  padding-left: 15px;
  padding-right: 15px;
}
.show-grid{
  margin-bottom:5px;
}
.panel-actions {
  margin-bottom: 5px;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 3px;
}
.table-plain > thead > tr > th,
.table-plain > tbody > tr > th,
.table-plain > tfoot > tr > th,
.table-plain > thead > tr > td,
.table-plain > tbody > tr > td,
.table-plain > tfoot > tr > td {
  border: 0;
}
.asn-edit{
  width: 60px;
}
.btn-small{
  padding: 1px 6px;
}

.btn-quick{
  position: relative;
  padding: 3px;
}
.btn-quick-action{
  position: absolute;
  top: -3px;
  right: -1px;
}
.btn, .input-group-addon{
  font-size: 12px;
  padding: 3px 6px;
}
.login-form{
  margin-top: 10em;
}
.form-control{
  font-size: 12px;
  padding: 3px 6px;
  height:auto;
}

.panel{
  margin-bottom: 10px;
}
.panel-body{
  padding: 5px;
}
.panel-heading{
  padding: 5px 7px;
}
.panel-tab {
  border-radius:0 0 4px 4px;
  border-top: 0;
}

.dropdown-menu{
  font-size: 12px;
}
.dropdown-submenu {
  position:relative;
}
.dropdown-submenu>.dropdown-menu {
  top:0;
  left:100%;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
  display:block;
}
.dropdown-submenu>a:after {
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:#cccccc;
  margin-top:5px;
  margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
  border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
  float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
  left:-100%;
  margin-left:10px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
}
.linerow{
  margin:0;
}
.hexview{
  font-family: Courier, "courier new", monospace;
}

.panel-disabled{
  cursor: not-allowed;
  background-color: #e0e0e0;
  opacity: .65;
  text-shadow: 0 1px 0 #fff;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
select.ng-invalid.ng-touched, input.ng-invalid.ng-touched {
  border: 1px solid #ff8787;
}
