version: '3.5'

services:

    portal-db:
        image: postgres:9.6-alpine
        container_name: portal-db
        environment:
            POSTGRES_USER: do_portal
            POSTGRES_PASSWORD: do_portal
            POSTGRES_DB: do_portal
        volumes:
            - portal_db_data:/var/lib/postgresql/data

    portal-backend:
        container_name: portal-backend
        build: ./backend
        environment:
            - VIRTUAL_HOST=portal-backend
        depends_on:
            - portal-db

    portal-frontend:
        container_name: portal-frontend
        build: ./frontend
        environment:
            - VIRTUAL_HOST=portal-frontend

    epplication-db:
        image: postgres:9.6-alpine
        container_name: epplication-db
        environment:
            POSTGRES_USER: epplication
            POSTGRES_PASSWORD: epplication
            POSTGRES_DB: epplication
        volumes:
            - epplication_db_data:/var/lib/postgresql/data

    epplication-selenium:
        image: selenium/standalone-firefox-debug
        container_name: epplication-selenium
        volumes:
            - /dev/shm:/dev/shm
        ports:
            - "5900:5900"

    epplication-app:
        container_name: epplication-app
        image: davewood/epplication:latest
        depends_on:
            - epplication-db
            - epplication-selenium
        volumes:
            - epplication_app_data_job_exports:/home/epplication/EPPlication/root/job_exports
            - epplication_app_data_ssh_keys:/home/epplication/EPPlication/ssh_keys
        environment:
            - VIRTUAL_HOST=epplication-app

    proxy:
        container_name: proxy
        image: jwilder/nginx-proxy
        volumes:
            - /var/run/docker.sock:/tmp/docker.sock:ro
        ports:
            - "8081:80"
        depends_on:
            - epplication-app
            - portal-frontend
            - portal-backend

volumes:
    portal_db_data:
    epplication_db_data:
    epplication_app_data_job_exports:
    epplication_app_data_ssh_keys:
