<nav class="navbar navbar-default" role="navigation" ng-cloak>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div id="navbar" class="nav navbar-nav">
      <ul class="nav navbar-nav">
        <li><a ui-sref="account">My Account</a></li>
        <li><a ui-sref="organization_list">Organizations</a></li>
        <li><a ui-sref="user_list">Contacts</a></li>
        <li><a ui-sref="login" ng-click="logout()">Logout ({{ username() }})</a></li>
        <li ng-if="enableStatistics"><a ui-sref="statistics" ui-sref-opts="{inherit:false}">Statistics</a></li>
      </ul>
    </div>
  </div>
</nav>
