<div class="container">
  <div class="row col-md-4 col-md-offset-4">

    <form class="form-control login-form" role="form" ng-submit="login()">
      <div class="control-group show-grid">
        <input type="text" name="email" ng-model="credentials.email"
               placeholder="Username or Email" class="form-control" required>
      </div>

      <div class="form-group">
        <input type="password" name="password" ng-model="credentials.password"
               placeholder="Password" class="form-control" autocomplete="off" required>
      </div>
      <button type="submit" class="btn btn-info">Login</button>
      <a class="pull-right" ui-sref="lost_password">Lost Password?</a>
    </form>

  </div>
</div>
