.gnupg
config.*cfg
*.db
.coverage
app/static/data/*
app/static/docs/*
app/static/docs-cp/*
docs/_build
docs-cp/_build
logs/
tmp/
*.sw?
__pycache__
.cache/
src/
install/*_roles.yaml
app/static/data/*
!app/static/data/99999999.json.zip
data/*

