<div id="responses">


    <div class="show-grid">
        <div class="input-group">
            <input type="text" id="search" class="form-control"
                   ng-model="event.query"
                   placeholder="Search for IP, host or hash">
            <input type="file" id="fileinput" class="form-control" do-file-select style="display: none;">

            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="onSearch()"
                        title="Search">
                    Search
                </button>
                <button class="btn btn-default" type="button"
                        title="Select input file"
                        onclick="$('input[id=fileinput]').click();"
                        id="choose-file">Browse</button>
                <button type="button" class="btn btn-default"
                        title="Export current data set"
                        id="export-all-vertical-csv">
                    Export CSV
                </button>
                <button class="btn btn-default" type="button" id="clear-results"
                        title="Clear results set">
                    Clear
                </button>
                <button class="btn btn-primary" type="button" id="toogle-all-replies"
                        title="Toggle replies">
                    Hide All
                </button>
            </span>
        </div>
    </div>

    <div class="row show-grid" ng-show="fileProgress">
        <progress value="{{fileProgress}}"></progress>
    </div>

    <button class="btn btn-neutral" ng-show="!responses">
        <span class="glyphicon glyphicon-refresh spinning" aria-hidden="true"></span>
        Loading...
    </button>

    {{ responses }}

    <button class="btn btn-default" type="button" ng-click="addResponse()"
            title="Add">
        Add
    </button>

</div>