<div id="av-scans">
    <h4>Sample reports</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>SHA256</th>
                <th>Submitted</th>
                <th class="text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="f in files">
                <td>{{ f.filename }}</td>
                <td>
                    <a ui-sref="viewReport(f)">{{ f.sha256 }}</a>
                    <!--<button ui-sref="viewAllReports(f)" title="View all reports for this hash"
                            type="submit" class="btn btn-default btn-small">
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    </button>-->
                </td>
                <td>{{ f.created }}</td>
                <td class="text-right">
                    <a class="btn btn-default" title="Download {{ f.name }}"
                      href="{{webServiceUrl}}/samples/{{f.sha256}}/contents">
                      <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                    </a>
                    <button ui-sref="viewReport(f)" title="View scan report"
                            type="submit" class="btn btn-default btn-small">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <uib-pagination total-items="totalItems" ng-model="currentPage"
      items-per-page="20" class="pagination-sm"
      boundary-links="true" rotate="false" force-ellipses="true" max-size="20"
                    ng-change="pageChanged()">
    </uib-pagination>
</div>
