<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" />
    <link rel="stylesheet" href="bower_components/angular-notify/dist/angular-notify.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/angular-ui-switch.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="cpApp">
    <!--[if lte IE 11]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container-fluid">
      <div class="row clearfix">
        <div ng-if="username" class="col-md-12 column" ui-view="header"></div>
      </div>
      <div class="row" ng-cloak>
        <div class="large-6">
          <uib-alert ng-cloak ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
        </div>
      </div>
      <div class="row clearfix" id="main-content">
        <div class="col-md-12 column">
          <div class="row" ui-view="content"></div>
        </div>
      </div>
      <hr>
      <footer>
        <a ui-sref="about">About</a>
      </footer>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.js"></script>
    <script src="bower_components/ng-csv/build/ng-csv.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/angular-ui-scroll/dist/ui-scroll.js"></script>
    <script src="bower_components/angular-ui-scrollpoint/dist/scrollpoint.js"></script>
    <script src="bower_components/angular-ui-event/dist/event.js"></script>
    <script src="bower_components/angular-ui-mask/dist/mask.js"></script>
    <script src="bower_components/angular-ui-validate/dist/validate.js"></script>
    <script src="bower_components/angular-ui-indeterminate/dist/indeterminate.js"></script>
    <script src="bower_components/angular-ui-uploader/dist/uploader.js"></script>
    <script src="bower_components/angular-ui-utils/index.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/jsSHA/src/sha1.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="bower_components/angular-notify/dist/angular-notify.js"></script>
    <script src="bower_components/ng-idle/angular-idle.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/modules/angular-ui-switch.js"></script>
    <script src="scripts/modules/autofocus.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/services/config.js"></script>
    <script src="scripts/services/errormapper.js"></script>
    <script src="scripts/services/authinterceptor.js"></script>
    <script src="scripts/services/auth.js"></script>
    <script src="scripts/services/session.js"></script>
    <script src="scripts/services/organization.js"></script>
    <script src="scripts/services/countries.js"></script>
    <script src="scripts/services/user.js"></script>
    <script src="scripts/services/membership.js"></script>
    <script src="scripts/services/griddata.js"></script>
    <script src="scripts/services/filereader.js"></script>
    <script src="scripts/services/doapi.js"></script>
    <script src="scripts/services/querycache.js"></script>
    <script src="scripts/services/statistics.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/controllers/header.js"></script>
    <script src="scripts/controllers/organizationlist.js"></script>
    <script src="scripts/controllers/organizationedit.js"></script>
    <script src="scripts/controllers/userlist.js"></script>
    <script src="scripts/controllers/useredit.js"></script>
    <script src="scripts/controllers/statistics.js"></script>
    <script src="scripts/controllers/fileupload.js"></script>
    <script src="scripts/directives/cpappversion.js"></script>
    <script src="scripts/directives/cpconfirm.js"></script>
    <script src="scripts/directives/cpmyaccount.js"></script>
    <script src="scripts/directives/cpfileselect.js"></script>
    <script src="scripts/directives/cponenter.js"></script>
    <script src="scripts/filters/propsfilter.js"></script>
    <script src="scripts/filters/eventkeysfilter.js"></script>
    <script src="scripts/filters/pathsendfilter.js"></script>
    <script src="scripts/filters/isemptyfilter.js"></script>
    <script src="scripts/filters/getbypropertyfilter.js"></script>
    <script src="scripts/filters/humanizefilter.js"></script>
    <!-- endbuild -->
</body>
</html>
