<div>
    <h3>AV reports for {{ currentHash }}
    </h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Infected</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="f in avscans">
                <td>{{ f.name }}</td>
                <td>{{ f.infected }}</td>
                <td class="text-right">
                    <button ui-sref="viewReport(f)" title="View scan report"
                            type="submit" class="btn btn-default btn-small">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>