<div class="row vertical-spacer-5 col-md-12">
  <div class="row col-md-5 col-xs-1"></div>
  <div class="row col-lg-2 col-md-4 col-xs-12">
    <form class="form-control activate-account-form" role="form" ng-submit="activate_account()">
      <div class="control-group show-grid">
        <input type="text" name="email" ng-model="email" data-ng-disabled="disable_email"
               placeholder="Email" class="form-control" required>
      </div>
      <div class="control-group show-grid">
        <input type="text" name="token" ng-model="token" data-ng-disabled="disable_token"
               placeholder="Activation Token" class="form-control" required>
      </div>
      <div class="control-group show-grid">
        <input type="password" name="password" ng-model="password"
               placeholder="New Password" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-info">Activate</button>
    </form>
  </div>
  <div class="row col-md-3 col-xs-1"></div>
</div>
