<div id="deliverables">
  <h3>Deliverables</h3>
  <table class="table table-condensed table-striped" ng-show="!!files.length">
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Date</th>
      <th class="text-right">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="f in files">
      <td>{{ f.name }}</td>
      <td>{{ f.type }}</td>
      <td>{{ f.created | date: 'dd-MM-yyyy'}}</td>
      <td class="text-right">
        <a class="btn btn-default" title="Download {{ f.name }}"
          href="{{webServiceUrl}}/files/{{f.id}}">
          <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <uib-pagination total-items="totalItems" ng-change="pageChanged()"
                  ng-show="!!vulnerabilities.length"
                  ng-model="currentPage" items-per-page="20"
                  class="pagination-sm" boundary-links="true" rotate="false">
  </uib-pagination>
</div>
