<div id="responses">
    <div class="show-grid">
        <div class="input-group">
            <input type="text" id="search" class="form-control"
                   ng-model="search"
                   cp-on-enter="onSearch()"
                   placeholder="Search for IP, host, email or hash">
            <input type="file" id="fileinput" class="form-control" cp-file-select style="display: none;">

            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="onSearch()"
                        title="Search">
                    Search
                </button>
                <button class="btn btn-default" type="button"
                        title="Select input file"
                        onclick="$('input[id=fileinput]').click();"
                        id="choose-file">Browse</button>
                <button type="button" class="btn btn-default"
                        title="Export current data set"
                        field-separator="|"
                        ng-csv="exportResponses()" filename="export-{{exportDate}}.csv"
                        id="export-all-vertical-csv">
                    Save CSV
                </button>
                <a type="button" class="btn btn-default"
                        title="Export JSON of current data set"
                        href="{{responses_url}}" target="_blank"
                        id="export-all-json">
                    Export JSON
                </a>
                <button class="btn btn-default" type="button" ng-click="clearResponses()"
                        title="Clear results set">
                    Clear
                </button>
                <button class="btn btn-primary" type="button" id="toogle-all-replies"
                        title="Toggle replies">
                    Hide All
                </button>
            </span>
        </div>
    </div>

    <div class="reply" ng-repeat="r in responses" ng-cloak>
        <h3><span>{{ r.query_string }}</span></h3>
        <div class="panel panel-default" ng-repeat="(expert, replies) in r.experts">
            <div class="panel-heading">
                <h6 class="panel-title"><span id="title-f4d439-{{ expert }}">{{ expert }}</span>
                    <button class="btn btn-primary" type="button" ng-click="isCollapsed = !isCollapsed">
                        Hide
                    </button>
                </h6>
            </div>
            <div class="collapse in" uib-collapse="isCollapsed">
                <div class="panel-body">
                    <ul class="list-unstyled" ng-repeat="reply in replies">
                        <li ng-repeat="(k, v) in reply track by $index"
                            ng-show="k != 'augment sha-1'">
                            {{ k }} <b>{{ reply[k].join(', ') }}</b>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
