<div class="modal-header">
  <h3 class="modal-title">Possible typosquats</h3>
</div>

<div class="modal-body">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>FQDN</th>
      <th>IP</th>
      <th>NS</th>
      <th>MX</th>
      <th>Updated</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="m in fqdns">
      <td>{{ m.fqdn }}</td>
      <td>{{ m.dns_a }}</td>
      <td>{{ m.dns_ns }}</td>
      <td>{{ m.dns_mx }}</td>
      <td>{{ m.updated }}</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="modal-footer">
  <button class="btn btn-default" ng-csv="exportCSV()"  field-separator="|"
          filename="fqdns-{{parentFQDN}}-{{exportDate}}.csv">
    Export CSV
  </button>
  <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>
