<div ng-show="org.id && !edit" class="panel panel-primary">
  <div class="panel-heading">
    <a ng-show="org.id" role="button" class="btn btn-xs pull-right btn-default" ng-click="edit=!edit">edit</a>
    <h3 class="panel-title">Organization details</h3>
  </div>

  <div class="panel-body">
    <div ng-show="org.parent_org_abbreviation">Parent Organization: {{org.parent_org_abbreviation}}</div>
    <div>Name: {{org.full_name}}</div>
    <div>Abbreviation: {{org.abbreviation}}</div>
  </div>
</div>

<div ng-show="edit" class="panel panel-primary">
  <div class="panel-heading">
    <a ng-show="org.id" role="button" class="btn btn-xs pull-right btn-success" ng-click="edit=!edit">edit</a>
    <h3 ng-show="org.id" class="panel-title">Edit organization details</h3>
    <h3 ng-show="!org.id" class="panel-title">Create organization</h3>
  </div>

  <div class="panel-body">

    <div ng-hide="org.id" class="row show-grid">
      <div class="col-xs-2">Parent Organization *</div>
      <div class="col-xs-10">
        <select convert-to-number positive-integer class="form-control input-sm" required ng-model="org.parent_org_id">
          <option ng-repeat="organization in orgs" value="{{organization.id}}">{{organization.abbreviation}}</option>
        </select>
      </div>
    </div>

    <div ng-show="org.id" class="row show-grid">
      <div class="col-xs-2">Parent Organization</div>
      <div class="col-xs-10">
        <input disabled type="text" class="form-control input-sm" ng-model="org.parent_org_abbreviation">
      </div>
    </div>

    <div class="row show-grid">
      <div class="col-xs-2">Abbreviation *</div>
      <div class="col-xs-10">
        <input type="text" class="form-control input-sm"
               placeholder="Abbreviation" required
               ng-model="org.abbreviation">
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-xs-2">Name *</div>
      <div class="col-xs-10">
        <input type="text" class="form-control input-sm"
               placeholder="Name" required
               ng-model="org.full_name">
      </div>
    </div>

    <div ng-show="org.id" class="row show-grid">
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
        <input type="text" class="form-control input-sm"
            placeholder="RIPE handle" ng-model="new_ripe_handle">
      </div>
      <div class="col-xs-1">
        <button class="btn btn-default btn-sm" ng-disabled="!new_ripe_handle" ng-click="add_ripe_handle()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Add RIPE handle
        </button>
      </div>
    </div>
  </div>

  <div class="panel-footer">
    <button ng-show="org.id" class="btn btn-default btn-sm" ng-click="update_organization()">
      <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
      Save
    </button>
    <button ng-show="org.id" class="btn btn-default btn-sm pull-right" ng-click="delete_organization()">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      Delete
    </button>
    <button ng-hide="org.id" class="btn btn-default btn-sm" ng-click="create_organization()">
      <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
      Create
    </button>
  </div>
</div>

<div ng-if="org.id && org.ripe_handles.length" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">RIPE Handles</h3>
  </div>
  <div class="panel-body">
    <div ng-repeat="ripe_handle in org.ripe_handles">
      <div class="row show-grid">
          <div class="col-xs-10">
            {{ripe_handle}}
	    <button ng-show="edit" class="btn btn-sm btn-default" ng-click="delete_ripe_handle(ripe_handle, $index)">
	      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
	      remove
	    </button>
          </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="org.id" class="panel panel-primary">
  <div class="panel-heading">
    <a class="btn btn-xs btn-default pull-right" ui-sref="user_create">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      New Contact
    </a>
    <h3 class="panel-title">Memberships</h3>
  </div>

  <div class="panel-body">
    <div ng-if="gridOptions.data.length" ui-grid="gridOptions" ui-grid-exporter ui-grid-resize-columns ui-grid-auto-resize></div>
    <div ng-if="!gridOptions.data.length">No memberships available.</div>
  </div>
</div>

<div ng-if="org.id && (ripe_details.asns.length || ripe_details.cidrs.length || ripe_details.abusecs.length)" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">RIPE network objects</h3>
  </div>
  <div class="panel-body">
    <h3 ng-if="ripe_details.asns.length">Autonomous systems:</h3>
    <div ng-repeat="asn in ripe_details.asns">
      <div class="row show-grid">
        <div class="col-xs-2">{{asn.asn}}</div>

        <div class="col-xs-2">{{asn.ripe_org_hdl}}</div>

        <div class="col-xs-2" ng-show="!edit">{{asn.delivery_protocol}}</div>
        <div class="col-xs-2" ng-show="edit">
          <select class="form-control input-sm" required ng-model="asn.delivery_protocol" ng-change="asn.dirty=true">
            <option ng-repeat="proto in ['Mail', 'REST', 'API', 'AMQP']" ng-checked="proto === asn.delivery_protocol" value="{{proto}}">{{proto}}</option>
          </select>
        </div>

        <div class="col-xs-2" ng-show="!edit">{{asn.delivery_format}}</div>
        <div class="col-xs-2" ng-show="edit">
          <select class="form-control input-sm" required ng-model="asn.delivery_format" ng-change="asn.dirty=true">
            <option ng-repeat="format in ['CSV', 'JSON']" ng-checked="format === asn.delivery_format" value="{{format}}">{{format}}</option>
          </select>
        </div>

        <div class="col-xs-2" ng-show="!edit">{{asn.notification_interval}}</div>
        <div class="col-xs-2" ng-show="edit">
          <input class="form-control input-sm" required ng-model="asn.notification_interval" ng-change="asn.dirty=true">
        </div>

        <div class="col-xs-2">
          <button  ng-if="asn.dirty" class="btn btn-default btn-sm" ng-click="update_ripe_detail(asn)">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
            Save
          </button>
        </div>
      </div>
    </div>
    <h3 ng-if="ripe_details.cidrs.length">CIDRs:</h3>
    <div ng-repeat="cidr in ripe_details.cidrs">
      <div class="row show-grid">
        <div class="col-xs-2">{{cidr.cidr}}</div>

        <div class="col-xs-2">{{cidr.ripe_org_hdl}}</div>

        <div class="col-xs-2" ng-show="!edit">{{cidr.delivery_protocol}}</div>
        <div class="col-xs-2" ng-show="edit">
          <select class="form-control input-sm" required ng-model="cidr.delivery_protocol" ng-change="cidr.dirty=true">
            <option ng-repeat="proto in ['Mail', 'REST', 'API', 'AMQP']" ng-checked="proto === cidr.delivery_protocol" value="{{proto}}">{{proto}}</option>
          </select>
        </div>

        <div class="col-xs-2" ng-show="!edit">{{cidr.delivery_format}}</div>
        <div class="col-xs-2" ng-show="edit">
          <select class="form-control input-sm" required ng-model="cidr.delivery_format" ng-change="cidr.dirty=true">
            <option ng-repeat="format in ['CSV', 'JSON']" ng-checked="format === cidr.delivery_format" value="{{format}}">{{format}}</option>
          </select>
        </div>

        <div class="col-xs-2" ng-show="!edit">{{cidr.notification_interval}}</div>
        <div class="col-xs-2" ng-show="edit">
          <input class="form-control input-sm" required ng-model="cidr.notification_interval" ng-change="cidr.dirty=true">
        </div>

        <div class="col-xs-2">
          <button  ng-if="cidr.dirty" class="btn btn-default btn-sm" ng-click="update_ripe_detail(cidr)">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
