<div class="clearfix">
    <a ng-show="org.id" role="button" class="btn btn-sm pull-right" ng-class="{'btn-success':edit, 'btn-default':!edit}" ng-click="edit=!edit">edit</a>
</div><br/>

<div ng-show="org.id && !edit" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Organization details</h3>
  </div>

  <div class="panel-body">
    <div>Name: {{org.full_name}}</div>
    <div>Abbreviation: {{org.abbreviation}}</div>
  </div>
</div>

<div ng-show="edit" class="panel panel-primary">
  <div class="panel-heading">
    <h3 ng-show="org.id" class="panel-title">Edit organization details</h3>
    <h3 ng-show="!org.id" class="panel-title">Create organization</h3>
  </div>

  <div class="panel-body">

    <div ng-hide="org.id" class="row show-grid">
      <div class="col-xs-2">Parent Organization *</div>
      <div class="col-xs-10">
        <select convert-to-number positive-integer class="form-control input-sm" required ng-model="org.parent_org_id">
          <option ng-repeat="organization in orgs" value="{{organization.id}}">{{organization.abbreviation}}</option>
        </select>
      </div>
    </div>

    <div class="row show-grid">
      <div class="col-xs-2">Abbreviation *</div>
      <div class="col-xs-10">
        <input type="text" class="form-control input-sm"
               placeholder="Abbreviation" required
               ng-model="org.abbreviation">
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-xs-2">Name *</div>
      <div class="col-xs-10">
        <input type="text" class="form-control input-sm"
               placeholder="Name" required
               ng-model="org.full_name">
      </div>
    </div>

  </div>

  <div class="panel-footer">
    <button ng-show="org.id" class="btn btn-default" ng-click="update_organization()">
      <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
      Save
    </button>
    <button ng-show="org.id" class="btn btn-default pull-right" ng-click="delete_organization()">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      Delete
    </button>
    <button ng-hide="org.id" class="btn btn-default" ng-click="create_organization()">
      <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
      Create
    </button>
  </div>
</div>

<div ng-show="org.id && memberships.length" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Memberships</h3>
  </div>
  <div class="panel-body">
    <table id="membershiptable" class="display table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
      <th>Edit</th>
      <th>Rolle Name</th>
      <th>User Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>City</th>
      <th>Country</th>
      <th>Street</th>
      <th>Zip</th>
      <th>Comment</th>
      <tr>
    </thead>
    <tbody>
    <tr ng-repeat="m in memberships">
        <td><a class="btn btn-small btn-default" ui-sref="user_edit({id: m.user_id})">Edit</a></td>
        <td>{{roles[m.membership_role_id].display_name}}</td>
        <td>{{users[m.user_id]['name'] }}</td>
        <td ng-repeat="type in ['email','phone','city','country','street','zip','comment']">
          {{ m[type] }}
        </td>
    </div>
    </tbody>
    </table>
  </div>
</div>

<a class="btn btn-small btn-default" ui-sref="user_create">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  New Contact
</a>
