<div id="typosquats">
  <h3>Possible typosquats</h3>
  <table class="table table-condensed table-striped" ng-show="!!fqdns.length">
    <thead>
    <tr>
      <th>FQDN</th>
      <th>IP</th>
      <th>NS</th>
      <th>MX</th>
      <th>Updated</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="m in fqdns">
      <td>{{ m.fqdn }}</td>
      <td>{{ m.dns_a }}</td>
      <td>{{ m.dns_ns }}</td>
      <td>{{ m.dns_mx }}</td>
      <td>{{ m.updated }}</td>
    </tr>
    </tbody>
  </table>
  <div class="footer">
  <button class="btn btn-default" ng-csv="exportCSV()"  field-separator="|"
          filename="fqdns-{{parentFQDN}}-{{exportDate}}.csv">
    Export CSV
  </button>
  </div>
</div>

