<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Users</h3>
  </div>
  <div class="panel-body">
    <div ng-repeat="user in users">
      <div class="row show-grid">
        <div class="col-xs-4"><label>{{user.name}}</label></div>
        <div class="col-xs-8">
          <a class="btn btn-small btn-default" ui-sref="users({id: user.id})">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<button ng-hide="show_form" class="btn btn-default" ng-click="show_form = !show_form">add new user</button>

<div ng-show="show_form" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">New User</h3>
  </div>
  <div class="panel-body">

    <div class="row show-grid">
      <div class="col-xs-2">Username</div>
      <div class="col-xs-10">
        <input type="text" class="form-control input-sm"
               placeholder="Login" required
               ng-model="user.login">
      </div>
    </div>

    <div class="row show-grid">
      <div class="col-xs-2">Password</div>
      <div class="col-xs-10">
        <input type="password" class="form-control input-sm"
               placeholder="Password" required
               ng-model="user.password">
      </div>
    </div>

    <div class="row show-grid">
      <div class="col-xs-2">Role ID</div>
      <div class="col-xs-10">
        <input type="number" class="form-control input-sm"
               placeholder="Role ID" required
               ng-model="user.role_id">
      </div>
    </div>

    <div class="row show-grid">
      <div class="col-xs-2">Organization ID</div>
      <div class="col-xs-10">
        <input type="number" class="form-control input-sm"
               placeholder="Organization ID" required
               ng-model="user.organization_id">
      </div>
    </div>

  </div>

  <div class="panel-footer">
    <button class="btn btn-default" ng-click="create_user(user)">
            <span class="glyphicon glyphicon-floppy-disk"
                  aria-hidden="true"></span>
      Create
    </button>
  </div>
</div>
