<div class="panel panel-primary">
  <div class="panel-heading">
      <h3 class="panel-title">{{user.id ? "Edit User" : "New User"}}</h3>
  </div>
  <div class="panel-body">
    <div class="well">
      <div class="row show-grid">
        <div class="col-xs-12"><strong>User Details</strong></div>
      </div>

      <div class="row show-grid">
        <div class="col-xs-2">Name *</div>
        <div class="col-xs-10">
          <input type="text" class="form-control input-sm"
                 placeholder="Name" required
                 ng-model="user.name">
        </div>
      </div>

      <div class="row show-grid">
        <div class="col-xs-2">Email (Login) *</div>
        <div class="col-xs-10">
          <input type="text" class="form-control input-sm"
                 placeholder="Email" required
                 ng-model="user.email">
        </div>
      </div>

      <div class="row show-grid">
        <div class="col-xs-2">Password</div>
        <div class="col-xs-10">
          <input type="password" class="form-control input-sm"
                 placeholder="Password"
                 ng-model="user.password">
        </div>
      </div>

      <button ng-show="user.id" class="btn btn-default" ng-click="update_user()">
        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
        Save
      </button>
      <button ng-show="user.id" class="btn btn-default pull-right" ng-click="delete_user()">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        Delete
      </button>

    </div>

    <div class="well" ng-repeat="m in memberships">

      <div class="row show-grid">
        <div class="col-xs-12"><strong>Membership Details</strong></div>
      </div>

      <div class="row show-grid">
        <div class="col-xs-2">Role *</div>
        <div class="col-xs-10">
          <select convert-to-number positive-integer class="form-control input-sm" required ng-model="m.membership_role_id">
            <option ng-repeat="role in roles" value="{{role.id}}">{{role.display_name}}</option>
          </select>
        </div>
      </div>

      <div class="row show-grid">
        <div class="col-xs-2">Organization *</div>
        <div class="col-xs-10">
          <select convert-to-number class="form-control input-sm" required positive-integer ng-model="m.organization_id">
            <option ng-repeat="organization in organizations" value="{{organization.id}}">{{organization.abbreviation}}</option>
          </select>
        </div>
      </div>

      <div class="row show-grid">
        <div class="col-xs-2">Street</div>
        <div class="col-xs-10">
          <input type="text" class="form-control input-sm"
                 placeholder="Street"
                 ng-model="m.street">
        </div>
      </div>

      <div class="row show-grid">
        <div class="col-xs-2">ZIP</div>
        <div class="col-xs-10">
          <input type="text" class="form-control input-sm"
                 placeholder="ZIP"
                 ng-model="m.zip">
        </div>
      </div>

      <div class="row show-grid">
        <div class="col-xs-2">City</div>
        <div class="col-xs-10">
          <input type="text" class="form-control input-sm"
                 placeholder="City"
                 ng-model="m.city">
        </div>
      </div>

      <div class="row show-grid">
        <div class="col-xs-2">Country</div>
        <div class="col-xs-10">
          <input type="text" class="form-control input-sm"
                 placeholder="Country"
                 ng-model="m.country">
        </div>
      </div>

      <div class="row show-grid">
        <div class="col-xs-2">Comment</div>
        <div class="col-xs-10">
          <input type="text" class="form-control input-sm"
                 placeholder="Comment"
                 ng-model="m.comment">
        </div>
      </div>

      <div class="row show-grid">
        <div class="col-xs-2">Email</div>
        <div class="col-xs-10">
          <input type="text" class="form-control input-sm"
                 placeholder="Email"
                 ng-model="m.email">
        </div>
      </div>

      <div class="row show-grid">
        <div class="col-xs-2">Phone</div>
        <div class="col-xs-10">
          <input type="text" class="form-control input-sm"
                 placeholder="Phone"
                 ng-model="m.phone">
        </div>
      </div>

      <div class="row show-grid">
        <div class="col-xs-2">PGP Key ID</div>
        <div class="col-xs-10">
          <textarea class="form-control" rows="3"
                    placeholder="PGP Key ID" ng-model="m.pgp_key_id"></textarea>
        </div>
      </div>

      <div class="row show-grid">
        <div class="col-xs-2">PGP Key Fingerprint</div>
        <div class="col-xs-10">
          <textarea class="form-control" rows="3"
                    placeholder="PGP Key Fingerprint" ng-model="m.pgp_key_fingerprint"></textarea>
        </div>
      </div>

      <div class="row show-grid">
        <div class="col-xs-2">PGP Key</div>
        <div class="col-xs-10">
          <textarea class="form-control" rows="3"
                    placeholder="PGP Key" ng-model="m.pgp_key"></textarea>
        </div>
      </div>

      <div class="row show-grid">
        <div class="col-xs-2">SMIME</div>
        <div class="col-xs-10">
          <input type="file" data-key="smime" class="form-control" cp-file-select>
        </div>
      </div>

      <div class="row show-grid">
        <div class="col-xs-2">COC</div>
        <div class="col-xs-10">
          <input type="file" data-key="coc" class="form-control" cp-file-select>
        </div>
      </div>

      <div class="row show-grid">
        <div class="col-xs-12">
          <button ng-show="user.id" class="btn btn-default" ng-click="save_membership(m)">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
            Save
          </button>
          <button ng-show="user.id" ng-click="delete_membership(m.id, $index)" title="Remove this Membership"
              type="submit" class="btn btn-default btn-small pull-right">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            Delete
          </button>
        </div>
      </div>

    </div>

  </div>

  <div class="panel-footer">
    <button ng-hide="user.id" class="btn btn-default" ng-click="create_user()">
      <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
      Save
    </button>
    <button ng-show="user.id" class="btn btn-default" ng-click="add_membership()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      Add Membership
    </button>
  </div>
</div>
