<div id="vulnerabilities">
  <h3>Vulnerabilities</h3>
  <table class="table table-condensed table-striped" ng-show="!!vulnerabilities.length">
    <thead>
    <tr>
      <th>ID</th>
      <th>Report date</th>
      <th>PoC</th>
      <th>Type</th>
      <th>RTIR #</th>
      <th class="text-center">Patched</th>
      <th class="text-center">Published</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="v in vulnerabilities | filter:search:strict">
      <td>{{v.id}}</td>
      <td> {{ v.reported }} </td>
      <td> {{ v.url }}</td>
      <td> {{ v.types.join(', ') }}</td>
      <td> {{ v.incident_id }}</td>
      <td class="text-center" ng-class="{'alert-success': v.patched, 'alert-danger': !v.patched}">
        <span ng-show="!v.patched">NO</span>
        {{ v.patched | date}}
      </td>
      <td>{{ v.published }}</td>
    </tr>
    </tbody>
  </table>
  <uib-pagination total-items="totalItems" ng-change="pageChanged()"
                  ng-show="!!vulnerabilities.length"
                  ng-model="currentPage" items-per-page="20"
                  class="pagination-sm" boundary-links="true" rotate="false">
  </uib-pagination>
</div>
